@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--cream: #f2ebe3;
	--dark-cyan: #3d8168;
	--dark-blue: #1c232b;
	--dark-grayish-blue: #6c7289;
	--Wenge-Brown: #5f574e;
	--dark-teal: #1a4031;
} 

*{
	transition: all 400ms ease-in-out;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fraunces-700 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
